@media screen and ( max-width: 1250px )
    .portfolio__section-heading
        font-size: 110px
    
@media screen and ( max-width: 1200px )
    .container
        width: 960px !important
    .h1
        font-size: 38px
    .portfolio
        margin-top: 40px
        margin-bottom: 180px
        &__row
            margin-top: 90px
        &__h2
            width: 85%
            margin-left: 25px
            margin-top: 25px
        &__item:nth-child(3n+1)
            margin-top: -80px
        &__item:nth-child(3n+2)
            margin-top: -40px
    .services
        position: relative
        &__section-heading
            position: absolute
            z-index: 3
            top: -165px
    .industries
        &__section-heading
            margin-top: -107px
        &__h1
            margin-top: 20px
    .section-heading
        font-size: 90px
    .h2
        font-size: 22px
    // .interactive
    //     margin-bottom: 50px
    //     align-self: flex-end

@media screen and ( max-width: 992px )
    .container
        width: 720px !important
    body
        font-size: 14px
    .section-heading
        font-size: 65px
    .h1
        font-size: 28px
        line-height: 45px
    .h2
        font-size: 18px
    .menu__item
        margin-right: 20px
    .logo
        width: 85px
    .button
        font-size: 14px
        padding: 8px 12px
    .hamburger-img
        margin-right: 10px
    .portfolio
        margin-top: 40px
        margin-bottom: 180px
        &__row
            margin-top: 60px
        &__h2
            width: 90%
            margin-left: 10px
            margin-top: 15px
        &__item:nth-child(3n+1)
            margin-top: -50px
        &__item:nth-child(3n+2)
            margin-top: -25px
    .services
        &__section-heading
            top: -140px
        &__item
            padding-bottom: 30px
        &__h1
            display: flex
        &__pixel-arrow-img
            width: 35px
    .service-content
        padding-top: 50px
        &__inner
            width: 70%
    .industries
        &__section-heading
            margin-top: -77px
