@import vars
@import fonts
@import libs

// ::placeholder
// 	color: #666

// ::selection
// 	background-color: $accent
// 	color: #fff

// input, textarea
// 	outline: none
// 	&:focus:required:invalid
// 		border-color: red
// 	&:required:valid
// 		border-color: green

// Standart classes

.d-f
	display: flex
.jc-c
	justify-content: center
.jc-sb
	justify-content: space-between
.jc-sa
	justify-content: space-around
.ai-c
	align-items: center
.ai-s
	align-items: start
.ai-e
	align-items: end
.fw-w
	flex-wrap: wrap
.fw-nw
	flex-wrap: nowrap
.fd-r
	flex-direction: row
.fd-c
	flex-direction: column
.d-none
	display: none !important
.w-50
	width: 50%

// End standart classes



.container
	width: 1110px !important

.row
	width: 100%

*
	box-sizing: border-box

html, body
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	color: $text
	background: $black
	display: flex
	justify-content: center
	flex-wrap: wrap

a
	text-decoration: none
	color: unset
	&:hover
		text-decoration: none
		color: #ffffff

p
	padding: 0
	margin: 0

button
	border: none
	outline: none
	cursor: pointer
	background: none

input
	background: none
	border: none
	outline: none !important
	font: unset

img
	max-width: 100%


h1,h2
	padding: 0
	margin: 0

.main-text
	font-size: 16px
	line-height: 20px
	font-weight: normal
	color: $dark-gray

.h1
	font-size: 44px
	line-height: 54px
	text-transform: uppercase
	font-weight: 900
	&_white
		color: #ffffff

.h2
	font-size: 24px
	line-height: 29px
	font-weight: bold
	&_white
		color: #fff
	&_green
		color: $green_3

		
.h-100
	height: 100%
.w-100
	width: 100%

// Custom Sass / Remove before use



.header
	width: 100%
	display: flex
	justify-content: center
	background-color: $black
	flex-wrap: wrap
	&__row
		margin-top: 35px
		display: flex
		align-content: space-between
		justify-content: center
		align-items: center
		background: $black
		position: fixed
		z-index: 4
	&-content
		display: flex
		justify-content: space-between
		margin-top: 200px
		height: 250px
		&__h1
			width: 70%
			margin-top: 17px
			
.menu
	&__item
		color: #ffffff
		margin-right: 42px
		text-transform: uppercase
		font-size: 12px
		line-height: 15px
		&:last-child
			margin-right: 0

.logo
	display: flex
	align-items: center

.logo__img
	width: 111px

.button
	font-size: 16px
	line-height: 20px
	text-transform: uppercase
	padding: 12px 28px
	font-weight: bold
	font-family: 'Montserrat', sans-serif
	&_primary
		background: linear-gradient(90deg, #33AF33 0%, #46FA5A 100%)
		color: #fff
	&_secondary
		border: $green_3 2px solid
		color: $green_3
		&:active
			background: $green_3
			color: #ffffff


.sign-items
	transform: rotate(180deg)
	writing-mode: tb-rl
	&__item
		text-transform: uppercase
		color: #fff
		line-height: 20px
		
.hamburger
	color: #fff
	text-transform: uppercase
	cursor: pointer
	display: flex
	align-items: center

.hamburger-img
	margin-right: 20px
// HEADER POPUP MENU START

.popup-menu
	width: 100%
	// min-height: 100vh
	height: 100%
	position: fixed
	left: 0
	top: 0
	background: linear-gradient(102.2deg, #232323 36.14%, #454545 101.46%)
	display: flex
	transition: display .5s ease
	z-index: 100
	justify-content: center
	&__container
		position: relative
	&__row
		position: absolute
		top: 0px
		z-index: 10
		justify-content: space-between
		background: none
		height: 44px
	&__content
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		height: 100%
	&__menu
		animation: customSlideFromLeft 1s ease
	&__item
		display: block
		margin-top: 30px
		&_active
			color: $green_3
		&:first-child
			margin-top: 0
	&__button
		margin-top: 25px
		&:first-child
			margin-top: 0
	&__interactive
		animation: customSlideFromRight 1s ease
	&__contacts
		padding: 45px 10px 0px
	&__e-mail
		margin-top: 20px
		margin-bottom: 45px
	&__social
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
	&__get-audit
		display: none
		position: fixed
		z-index: 1000
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__audit-form
		border: 2px $green_3 solid


.c-popup-menu__get-audit
	display: flex
	justify-content: center
	align-items: center
	position: relative
	width: 100%
	height: 100%
	background: $black
	background: rgba($black, .9)


.close
	cursor: pointer
	height: 100%
	display: flex
	// &::before
	// 	content: ''
	// 	background-color: #fff
	// 	display: block
	// 	position: absolute
	// 	width: 40px
	// 	height: 7px
	// 	left: -40px
	// 	transform: rotate(45deg)
	// 	animation: closeAnimation1 .5s
	// &::after
	// 	content: ''
	// 	background-color: #fff
	// 	display: block
	// 	position: absolute
	// 	width: 40px
	// 	height: 7px
	// 	left: -40px
	// 	animation: closeAnimation2 .5s
	// 	transform: rotate(-45deg)
	

@keyframes closeAnimation1
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(45deg)

@keyframes closeAnimation2
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(-45deg)

@keyframes customSlideFromLeft
	0%
		opacity: 0
		margin-left: -30%
	100%
		opacity: 1
		margin-left: 0

@keyframes customSlideFromRight
	0%
		opacity: 0
		margin-right: -30%
	100%
		opacity: 1
		margin-right: 0
		

.contacts
	font-size: 30px
	color: #ffffff
	line-height: 37px
	font-weight: normal
	text-align: center


.interactive
	display: flex
	flex-direction: column

// HEADER POPUP MENU END


.portfolio
	width: 100%
	display: flex
	justify-content: center
	&__container
		width: 1440px
		padding: 0px 50px
		margin-top: 30px
	&__section-heading
		z-index: -1
		position: relative
	&__row
		display: flex
		justify-content: space-between
		width: 100%
		margin-top: 120px
		&_first
			margin-top: 0px !important
	&__item
		width: 31%
		max-height: 550px
		display: flex
		flex-wrap: wrap
		justify-content: center
		align-content: flex-start
		&:nth-child(3n+1)
			margin-top: -100px
		&:nth-child(3n+2)
			margin-top: -50px
	&__h2
		margin-top: 30px
		margin-left: 30px
		width: 60%
	&__img
		// width: 100%
		max-height: 100%
		align-self: self-start

.more-works
	background: $green_3
	max-height: 100%
	height: 100%
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	max-width: 414px
	&__button
		border-color: #ffffff
		color: #fff
			

.portfolio-row

.section-heading
	font-size: 120px
	text-transform: uppercase
	color: #ffffff
	opacity: 0.2
	font-weight: 900
	letter-spacing: 0.3em
	width: 100%
	text-align: center

// SERVICES

.services
	width: 100%
	&__item
		width: 100%
		display: flex
		justify-content: center
		padding-bottom: 60px
		&:nth-child(2n+1)
			background-color: #fff
		&:nth-child(2n+2)
			background-color: $light-gray
	&__h1
		margin-bottom: 15px
		transition: all .5s ease
		cursor: pointer
	&__pixel-arrow-img
		margin-left: 45px
		transition: all .2s ease
	&__button
		align-self: flex-end

.service-content
	display: flex
	flex-direction: column
	width: 100%
	padding: 75px 0px 0px 0px
	&__inner
		display: none
		width: 50%
		justify-content: space-between
		margin-top: 35px
		&_opened
			display: flex

.service-list
	&__item
		line-height: 25px
		font-weight: normal
			

.services__c-services-items
	margin-top: -60px
	background-color: #fff
	padding-bottom: 180px

.rotate
	transform: scale(-1)


// Industries

.industries
	padding-bottom: 120px
	&__section-heading
		margin-top: -143px
		color: $gray
		position: relative
		z-index: 1
	&__container
		display: flex
		justify-content: space-between
	&__column
		width: 45%
	&__h1
		text-transform: none
		width: 45%
	&__h2
		margin-bottom: 20px
	&__main-text
		margin-bottom: 30px
	&__online-store
		color: #ffffff
		line-height: 25px
		margin-bottom: 5px
	&__text
		margin-left: 50px
		margin-right: 50px
	&__sphere

.e-commerce__img
	margin-top: 70px
	margin-bottom: 70px

.e-commerce-text
	margin-left: 50px
	margin-right: 50px

.sphere__img
	margin-bottom: 70px

.tag-container
	display: flex
	justify-content: center
	&__column
		width: 50%

// GET audit

.audit-form
	padding: 50px
	background: $black
	width: 360px

.get-audit
	padding: 120px 0px
	background: linear-gradient(251.77deg, #43ED4F 26.04%, #33AF33 91.88%)
	width: 100%
	display: flex
	justify-content: center
	&__container
		display: flex
		justify-content: space-between
	&__column
		width: 50%
	&__audit-form
		box-shadow: -15px 20px 50px #1FB61F
	&__h1
	&__h2
		width: 70%
	&__input-checkbox
		&:checked + .label__text::before
			background: $green_3
	&__label
		color: #ffffff
		// &::before
		// 	content: ''
		// 	display: block
		// 	height: 10px
		// 	width: 10px
		// 	border: $green_3 1px solid
		// 	margin-right: 18px
	&__submit
		width: 100%
	&__main-text
		color: #ffffff
		padding-top: 40px
		width: 80%

.get-audit-content
	padding-top: 125px
	&__inner
		width: 70%

.personal-data-apply
	color: $input-border
	font-size: 10px
	line-height: 12px
	padding-top: 30px

.input
	margin: 20px 0px
	width: 100%
	&-text
		padding: 12px 30px
		background: $light-black
		border: 2px $input-border solid
		font-size: 16px
		line-height: 20px
		color: #ffffff
		&:focus
			border-color: $green_3

.disabled
	opacity: 0.5

.label
	margin: 20px 0px
	margin-right: -10px
	display: flex
	align-items: center
	cursor: pointer
	&__text
		display: flex
		align-items: center
		&::before
				content: ''
				display: inline-block
				height: 10px
				width: 10px
				border: $green_3 1px solid
				margin-right: 18px

// WORK STAGES

.work-stages
	display: flex
	flex-wrap: wrap
	width: 100%
	justify-content: center
	background: #ffffff
	padding: 105px 0px 120px 0px
	&__container
		// &:last-child
		// 	position: relative
		// 	&::before
		// 		content: ''
		// 		display: block
		// 		height: 1px
		// 		background: $green_3
		// 		width: 100vw !important
		// 		position: absolute
		// 		top: 0
		// 		left: 0
	&__row
		display: flex
		justify-content: space-between
	&__column
		flex-basis: 45%
	&__main-text
		padding-top: 50px
	&__plus
		font-size: 16px
		line-height: 25px
		display: block
		font-weight: bold
		margin-top: 10px
		&:first-child
			margin-top: 0
		&_normal
			font-weight: normal
	&__subpoint
		font-size: 16px
		line-height: 25px
		display: block
	&__button
		margin-top: 50px
	&__main-content
		margin-bottom: 160px
	&__stages
		justify-content: center
		position: relative
		&::before
			content: ''
			display: block
			height: 1px
			background: $green_3
			width: 100%
			position: absolute
			top: 0
			left: 0
	&__h2
		margin-top: 10px
		padding-bottom: 10px
	&__stage-item
		&::before
			content: ''
			display: block
			transform: translateY(-5px)
			height: 10px
			width: 10px
			background: $green_3
	&__number
		color: $stage-numbers
		position: absolute
		top: -40px

.c-work-stages__pluses

.c-work-stages__stages
	display: flex
	justify-content: space-between

// GET CONSULTATION SECTION

.consultation-action
	width: 100%
	display: flex
	justify-content: center
	padding: 110px 0px 120px
	&__container
		display: flex
		justify-content: space-between
	&__column
		display: flex
		flex-direction: column
		justify-content: space-between
	&__contact
		margin: 15px 0px 50px
		&:last-child
			margin-bottom: 12px
	&__button
		width: fit-content






@import media

